.contact-form {
  margin: 6em 0;
  position: relative;
}
.contact-form h1 {
  padding: 2em 1px;
  color: #000000;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  border: 1px solid #fcdc3b;
  background: #fcdc3b;
  color: #000000;
  border: 0;
}
.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}
